{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img src="/svg/header_back.svg" width="24px" height="24px">
        </button>
        <button class="button">
            <img src="/img/header_avatar.png" width="24px" height="24px">
        </button>
    </header>

    <h1 class="title">My Blog</h1>

    <main class="post__list">
        <div class="post button">
            <div class="post__header">
                <div class="post__category--list">
                    <span class="post__category post__category--1">Important</span>
                    <span class="post__category post__category--2">New</span>
                </div>
                <div class="post__date">25.01</div>
            </div>
            <p class="post__info">Fuck off theplanner, let's hire a designer, and get ready to the presentation like
                Jobs
            </p>
        </div>
        <div class="post button post--viewed">
            <div class="post__header">
                <div class="post__category--list">
                    <span class="post__category post__category--1">Important</span>
                </div>
                <div class="post__date">24.01</div>
            </div>
            <p class="post__info">We'd like to see 150 people in this chat to make a first-rate pack of
                self-presentations
            </p>
        </div>
    </main> --}}
</div>



{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}