.page {
	padding: 24px;
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.button {
	cursor: pointer;
	transition: opacity 0.7s;

	&:hover {
		opacity: 0.7;
	}
}

.title {
	font-size: 24px;
	color: #121212;
}

.tabbar {
	display: flex;
	justify-content: space-around;
	
}

.tabbar__item {
	text-align: center;	
	color: gray;
	border-bottom: 1px solid grey;
}

.active {
	border-bottom-color: black;
	color: black;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.info__title {
	font-weight: bold;
}

.info__text {
	font-size: 16px;
	line-height: 1.4em;
	color: #121212;
}

.community-button {
	border-radius: 10px;
	background: #F46F17;
	color: white;
	padding: 16px;
}